<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>Enable</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>BlurStyle</string>
			<key>label</key>
			<string>Blur Type</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Light</string>
				<string>Ultralight</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>detail</key>
			<string>HBListItemsController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>ShowHeader</string>
			<key>label</key>
			<string>Show Header</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>ShowCount</string>
			<key>label</key>
			<string>Show Unread Count</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activation Methods</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>SwipeUpEnabled</string>
			<key>label</key>
			<string>Swipe Up</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>SwipeDownEnabled</string>
			<key>label</key>
			<string>Swipe Down</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>SwipeLeftEnabled</string>
			<key>label</key>
			<string>Swipe Left</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.bflatstudios.badger-lite</string>
			<key>key</key>
			<string>SwipeRightEnabled</string>
			<key>label</key>
			<string>Swipe Right</string>
			<key>PostNotification</key>
			<string>com.bflatstudios.badger-lite/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>Badger--</string>
</dict>
</plist>
